@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');

body {
    text-align: center;
    font-size: 14px;
    font-family: 'Shadows Into Light', cursive;
}

main {
    margin :auto;
    max-width : 1200px;
}